.rightBorder {
  position: absolute;
  top: -2.4px;
  right: 8.8px;
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-300);
  border: 2.4px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 452.8px;
  height: 828px;
}
.hydraulicBorder{
  position: absolute;
  height: 120px;
  width: 97.2%;
  top: 625px;
  /* right: 0; */
  /* bottom: 400px; */
  left: 1.43%;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.HydraulicTitle{
  position: absolute;
  height: 6.43%;
  width: 98.69%;
  top: 600px;
  left: 0.94%;
  font-size: 20.18px;
  font-weight: 500;
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
}
.HydraulicText{
  position:absolute;
  font-size: 40px;
  top: 32.15px;
  left: 25px;
}
.hydraulicImage{
  height: 50px;
  background-color: greenyellow;
}

.hydraulicBox {
  position: absolute;
  top: 35px;
  left: 120px;
  width: 300px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.hydraulicBar {
  height: 20px !important;
  width: 300px;
  /* align-items: center; */
}


.GroundFaultBorder {
  position: absolute;
  top: 472px;
 left: 15px;
 border-radius: var(--br-base); 
 background-color: var(--color-gainsboro-300);
 border: 2.4px solid var(--color-lightslategray);
 box-sizing: border-box;
 width: 283px;
 height: 150px;
}
.groundFault1{
  position: absolute;
  top: 45px;
  left: 220px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff0000; 
}
.groundFault2{
  position: absolute;
  top: 85px;
  left: 220px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff0000; 
}
.groundFaultText1{
  position:absolute;
  font-size: 15px;
  top: 50px;
  left: 10px;
}
.groundFaultText2{
  position:absolute;
  font-size: 15px;
  top: 90px;
  left: 10px;
}
.groundFaultKey{
  position:absolute;
  font-size: 10px;
  top: 128px;
  left: 36px;
}
.vfdBorder {
  position: absolute;
   top: 473.5px;
  left: 300px;
  border-radius: var(--br-base); 
  background-color: var(--color-gainsboro-300);
  border: 2.4px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 270px;
  height: 150px;
}
.eboxBorder {
  position: absolute;
   top: 250px;
  left: 300px;
  border-radius: var(--br-base); 
  background-color: var(--color-gainsboro-300);
  border: 2.4px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 270px;
  height: 220px;
}
.ebox1 {
  position: absolute;
  top: 50px;
  left: 180px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff0000; 
}
.ebox2 {
  position: absolute;
  top: 100px;
  left: 180px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff0000; 
}
.ebox3 {
  position: absolute;
  top: 150px;
  left: 180px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff0000; 
}
.eboxText1{
  position:absolute;
  font-size: 25px;
  top: 50px;
  left: 20px;
}
.eboxText2{
  position:absolute;
  font-size: 25px;
  top: 100px;
  left: 20px;
}
.eboxText3{
  position:absolute;
  font-size: 25px;
  top: 150px;
  left: 20px;
}
.eboxKey{
  position:absolute;
  font-size: 10px;
  top: 200px;
  left: 50px;
}
.currentA {
  position: absolute;
  height: 22.27%;
  width: 26.89%;
  top: 10px;
  right: 335px;
  font-weight: 500;
  display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5;
}
.wattageW2{
  position: absolute;
  /* height: 22.27%;
  width: 26.89%; */
  top: 215px;
  right: 100px;
  font-weight: 500;
  display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5;
}
.voltageV,
.wattageW{
  position: absolute;
   /*  height: 22.27%; */
  /* width: 26.89%; */
  top: 10px;
  right: -160px;
  font-weight: 500;
   display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5;
}
.voltageV {
   left: -4%;
  text-align: left;
}
.currentA,
.wattageW {
  left: 3.01%;
}
.wattageW {
  left: 11.37%;
}
.currentA1,
.voltageV1,
.wattageW1 {
  position: absolute;
   /*  height: 22.27%; */
  /* width: 26.89%; */
  bottom: 100px;
  right: -160px;
  font-weight: 500;
   /* display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5; */
}
.voltageV1 {
  left: -4%;
  text-align: left;
}
.currentA1,
.wattageW1 {
  left: 3.01%;
}
.wattageW1 {
  left: 11.37%;
}
.frameChild {
  position: absolute;
  height: 96.23%;
  width: 90%;
  top: 1.89%;
  right: 0;
  bottom: 1.89%;
  left: 10%;
  border-radius: var(--br-4xs-2);
  border: 2.2px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.frameItem {
  position: absolute;
  height: 2.7%;
  width: 46.95%;
  top: 51.19%;
  right: 1.22%;
  bottom: 46.11%;
  left: 51.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameInner {
  position: absolute;
  height: 100%;
  width: 51%;
  top: 0;
  right: 46%;
  bottom: 0;
  left: 3%;
  border-radius: var(--br-4xs-2);
  background-color: var(--color-red-100);
  border: 2.2px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.safe {
  margin: 0;
  margin-left: -20px;
  font-size: 8;
}
.safeMinTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.safeMin {
  height: 26.96%;
  width: 19.29%;
  top: 58.49%;
  left: 57%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
  -webkit-text-stroke: 0.5px #9497b5;
}
.div,
.div1,
.div2,
.safeMax,
.safeMin {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.safeMax {
  height: 26.96%;
  width: 19.29%;
  top: 15.38%;
  left: 55.91%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
  -webkit-text-stroke: 0.5px #9497b5;
}
.div,
.div1,
.div2 {
  height: 24.53%;
  width: 16%;
  top: 16.67%;
  left: 79.53%;
  justify-content: center;
  -webkit-text-stroke: 0.8px #9497b5;
}
.div1,
.div2 {
  top: 62.26%;
  left: 76%;
}
.div2 {
  height: 82.84%;
  width: 51.66%;
  top: 5.66%;
  left: 0;
  font-size: 16.73px;
  -webkit-text-stroke: 0.5px #9497b5;
}
.dangerBackgroundGroup,
.dangerBackgroundParent {
  position: absolute;
  top: 28.07px;
  left: 282.46px;
  width: 99.09px;
  height: 60.81px;
  font-size: 7.44px;
  color: var(--color-white);
  font-family: var(--font-source-code-pro);
}
.dangerBackgroundGroup {
  left: 141.23px;
}
.rectangleIcon {
  position: absolute;
  height: 100%;
  width: 51%;
  top: 0;
  right: 46%;
  bottom: 0;
  left: 3%;
  border-radius: var(--br-4xs-2);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.dangerBackgroundContainer {
  position: absolute;
  top: 29.62px;
  left: 0;
  width: 99.09px;
  height: 60.81px;
  font-size: 7.44px;
  color: var(--color-white);
  font-family: var(--font-source-code-pro);
}
.border,
.grid {
  position: absolute;
  top: 50.79px;
  left: 10.46px;
  width: 400.55px;
  height: 90.43px;
}
.border {
  height: 78.94%;
  width: 91.15%;
  top: 21.06%;
  right: 8.85%;
  bottom: 0;
  left: 0;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.HPborder{
  height: 120px;
  width: 88%;
  margin-top: 35px;
  right: 8.85%;
  bottom: 0;
  margin-left: 10px;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.LPBorder{
  height: 120px;
  width: 88%;
  margin-top: 35px;
  right: 8.85%;
  bottom: 0;
  margin-left: 10px;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  /* mix-blend-mode: normal; */
}
.totalHighPower {
  position: absolute;
  /* height: 16.74%; */
  /* width: 100%; */
  top: 10px;
  left: 10px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-source-code-pro);
  text-align: left;
  display: inline-block;
}
.totalLowPower {
  position: absolute;
  /* height: 16.74%; */
  /* width: 100%; */
  margin-top: 160px;
  margin-left: -58px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-source-code-pro);
  /* text-align: left; */
  display: inline-block;
}

.currentA1,
.totalLowPower,
.voltageV1,
.wattageW1 {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: inline-block;
}
.totalLowPower {
  height: 15.8%;
  width: 100%;
  left: 0;
}
.currentA1,
.voltageV1,
/* .wattageW1 {
  height: 22.27%;
  width: 26.89%;
} */
.voltageV1 {
  left: 2.45%;
  text-align: left;
}
.currentA1{
  position: absolute;
  height: 22.27%;
  width: 26.89%;
  top: 215px;
  right: 335px;
  font-weight: 500;
  display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5;
}
.currentA2{
  position: absolute;
  height: 22.27%;
  width: 26.89%;
  top: 215px;
  right: 320px;
  font-weight: 500;
  display: inline-block;
  -webkit-text-stroke: 0.5px #9497b5;
}
/* .wattageW1 {
  left: 37.01%;
} */
/* .wattageW1 {
  left: 71.37%;
} */
.frameChild5 {
  position: absolute;
  height: 2.74%;
  width: 46.95%;
  top: 51.17%;
  right: 1.22%;
  bottom: 46.09%;
  left: 51.83%;
  /* max-width: 100%; */
  /* overflow: hidden; */
  max-height: 100%;
}
.frameChild6 {
  position: absolute;
  height: 100%;
  width: 51%;
  top: 0;
  right: 46%;
  bottom: 0;
  left: 3%;
  border-radius: var(--br-4xs-2);
  background-color: var(--color-red-100);
  border: 2.2px solid var(--color-lightgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.safeMin3 {
  height: 26.96%;
  width: 19.29%;
  top: 58.49%;
  left: 57%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
}
.div10,
.div11,
.div9,
.safeMax3,
.safeMin3 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.safeMax3 {
  height: 26.96%;
  width: 19.29%;
  top: 15.38%;
  left: 55.91%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
}
.div10,
.div11,
.div9 {
  height: 24.53%;
  width: 16%;
  top: 16.67%;
  left: 79.53%;
  justify-content: center;
}
.div10{
  font-size: 13px;
  top: 60.26%;
  left: 76%;
}
.div11 {
  top: 62.26%;
  left: 76%;
}
.div11 {
  height: 82.84%;
  width: 55.66%;
  top: 5.66%;
  left: 0;
  font-size: 10px;
}
.frameDiv {
  position: absolute;
  top: 27.62px;
  left: 281.91px;
  width: 98.9px;
  height: 59.85px;
  font-size: 7.44px;
  color: var(--color-white);
}
.frameChild7 {
  position: absolute;
  height: 96.23%;
  width: 90%;
  top: 1.51%;
  right: 0;
  bottom: 2.27%;
  left: 10%;
  border-radius: var(--br-4xs-2);
  border: 2.2px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.frameChild8 {
  position: absolute;
  height: 2.74%;
  width: 46.95%;
  top: 50.79%;
  right: 1.22%;
  bottom: 46.47%;
  left: 51.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild9 {
  position: absolute;
  height: 100%;
  width: 51%;
  top: 0;
  right: 45.77%;
  bottom: 0;
  left: 3.23%;
  border-radius: var(--br-4xs-2);
  background-color: var(--color-red-100);
  border: 2.2px solid var(--color-lightgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.safeMin4 {
  height: 26.96%;
  width: 19.29%;
  top: 58.11%;
  left: 57%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
}
.div12,
.div13,
.div14,
.safeMax4,
.safeMin4 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.safeMax4 {
  height: 26.96%;
  width: 19.29%;
  top: 15%;
  left: 55.91%;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  text-align: left;
}
.div12,
.div13,
.div14 {
  height: 24.53%;
  width: 16%;
  top: 16.28%;
  left: 79.53%;
  justify-content: center;
}
.div13,
.div14 {
  top: 61.88%;
  left: 76%;
}
.div14 {
  height: 82.84%;
  width: 51.66%;
  top: 5.28%;
  left: 0;
  font-size: 16.73px;
}
.dangerBackgroundParent1 {
  position: absolute;
  top: 27.85px;
  left: 140.95px;
  width: 98.9px;
  height: 59.85px;
  font-size: 7.44px;
  color: var(--color-white);
}
.frameChild12 {
  position: absolute;
  height: 100%;
  width: 51%;
  top: 0;
  right: 46%;
  bottom: 0;
  left: 3%;
  border-radius: var(--br-4xs-2);
  background-color: var(--color-green-200);
  border: 2.2px solid var(--color-lightgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.dangerBackgroundParent2 {
  position: absolute;
  top: 29.16px;
  left: 0;
  width: 98.9px;
  height: 59.85px;
  font-size: 7.44px;
  color: var(--color-white);
}
.border1,
.grid1 {
  position: absolute;
}
.grid1 {
  top: 52.15px;
  left: 6.25px;
  width: 380.81px;
  height: 89.01px;
  text-align: center;
  font-size: var(--font-size-sm-2);
}
.border1 {
  height: 75.77%;
  width: 89.19%;
  top: 24.23%;
  right: 10.63%;
  bottom: 0;
  left: 0.18%;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.lowPower,
.waterMetrics1 {
  position: absolute;
  font-size: 20.18px;
  color: var(--color-gainsboro-100);
}
.lowPower {
  top: 163.2px;
  right: 0;
  width: 448.8px;
  height: 151.9px;
  text-align: left;
}
.waterMetrics1 {
  height: 16.64%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  font-family: var(--font-noto-sans);
  display: inline-block;
}
.border2 {
  position: absolute;
  height: 78.95%;
  width: 97.53%;
  top: 21.05%;
  right: 2.47%;
  bottom: 0;
  left: 0;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.waterMetricsChild,
.waterMetricsInner,
.waterMetricsItem {
  position: absolute;
  height: 43.68%;
  width: 27.7%;
  top: 49.47%;
  right: 69.83%;
  bottom: 6.84%;
  left: 2.47%;
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.waterMetricsInner,
.waterMetricsItem {
  right: 6.07%;
  left: 66.22%;
}
.waterMetricsInner {
  right: 37.76%;
  left: 34.54%;
}
.rateCondition,
.totalConsumed {
  position: absolute;
  top: 32.11%;
  left: 37.57%;
  font-weight: 500;
}
.totalConsumed {
  top: 32.63%;
  left: 67.36%;
}
.div18,
.div19 {
  top: 54.74%;
  font-size: var(--font-size-13xl);
}
.div18 {
  position: absolute;
  left: 69%;
  font-weight: 500;
}
.div19 {
  left: 7.57%;
}
.div19,
.div20,
.rateSolution {
  position: absolute;
  font-weight: 500;
}
.div20 {
  top: 54.74%;
  left: 40.02%;
  font-size: var(--font-size-13xl);
}
.rateSolution {
  height: 13.68%;
  width: 26%;
  top: 32.11%;
  left: 3.98%;
  display: inline-block;
}
.gal,
.galsec,
.galsec1 {
  position: absolute;
  top: 78.95%;
  left: 16.32%;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.gal,
.galsec1 {
  left: 48.77%;
}
.gal {
  top: 76.84%;
  left: 85.77%;
}
.waterMetrics {
  position: absolute;
  top: 320.8px;
  right: 27.2px;
  width: 421.6px;
  height: 152px;
  text-align: left;
}
.ellipseIcon {
  position: absolute;
  height: 89.14%;
  width: 83.68%;
  top: 5.16%;
  right: 9.21%;
  bottom: 5.7%;
  left: 7.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div21,
.frameChild13 {
  position: relative;
  width: 29.9px;
  height: 31.4px;
  flex-shrink: 0;
}
.div21 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.93px;
  height: 28.5px;
  margin-top: -30px;
  font-size: 10px;
}
.ellipseContainer,
.ellipseGroup,
.ellipseParent1,
.ellipseParent2,
.ellipseParent3,
.ellipseParent4 {
  position: absolute;
  top: 0;
  left: 29.47px;
  width: 29.9px;
  height: 31.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ellipseContainer,
.ellipseParent1,
.ellipseParent2,
.ellipseParent3,
.ellipseParent4 {
  top: 68.28px;
  left: 0;
}
.ellipseParent1,
.ellipseParent2,
.ellipseParent3,
.ellipseParent4 {
  top: 94.2px;
  left: 20.4px;
}
.ellipseParent2,
.ellipseParent3,
.ellipseParent4 {
  top: 68.28px;
  left: 94.9px;
}
.ellipseParent3,
.ellipseParent4 {
  top: 94.2px;
  left: 74.97px;
}
.ellipseParent4 {
  top: 0;
  left: 61.3px;
}
.ellipseParent {
  position: absolute;
  top: 85.6px;
  left: 33.6px;
  width: 124.8px;
  height: 125.6px;
}
.linearActuators1 {
  position: absolute;
  height: 24.26%;
  width: 95.6%;
  top: 0;
  left: 4.4%;
  font-size: 16.98px;
  font-weight: 500;
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
}
.border3 {
  position: absolute;
  height: 85.66%;
  width: 48%;
  top: 14.34%;
  right: 52%;
  bottom: 0;
  left: 0;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.extensionLengthsCm {
  position: absolute;
  height: 12.13%;
  width: 41.8%;
  top: 18.75%;
  left: 2.6%;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linearActuators {
  position: absolute;
  top: 480.8px;
  right: 48.8px;
  width: 400px;
  height: 217.6px;
  font-size: var(--font-size-2xl-1);
}
.connectionsChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.connectionsItem {
  position: absolute;
  height: 2.01%;
  width: 98.16%;
  top: 27.63%;
  right: 1.09%;
  bottom: 70.36%;
  left: 0.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connections1 {
  position: absolute;
  height: 16.04%;
  width: 48.3%;
  top: 6.6%;
  left: 25.28%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dueConnected,
.frameChild19 {
  position: relative;
  flex-shrink: 0;
}
.frameChild19 {
  border-radius: var(--br-9xs);
  background-color: var(--color-limegreen-200);
  width: 180.8px;
  height: 19.2px;
}
.dueConnected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 17.6px;
  margin-top: -19px;
}
.rectangleContainer,
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 37.6px;
  left: 15.2px;
  width: 180.8px;
  height: 19.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.rectangleContainer,
.rectangleGroup {
  top: 61.6px;
  left: 14.4px;
  align-items: center;
  justify-content: flex-start;
}
.rectangleContainer {
  top: 85.6px;
  left: 15.2px;
  align-items: flex-end;
  justify-content: flex-end;
}
.connections {
  position: absolute;
  top: 584.8px;
  right: 30.4px;
  width: 212px;
  height: 113.6px;
  font-size: 15.42px;
}
.imuChild {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 32.79%;
  right: 0;
  bottom: 2.46%;
  left: 0;
  border-radius: 8px;
  background-color: var(--color-gainsboro-300);
  border: 2.4px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.imuItem {
  position: absolute;
  height: 3.38%;
  width: 99.24%;
  top: 72.54%;
  right: -0.02%;
  bottom: 24.08%;
  left: 0.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.absoluteDirection {
  font-weight: 500;
}
.absoluteDirectionNorthContainer {
  position: absolute;
  height: 23.77%;
  width: 99.22%;
  top: 39.34%;
  left: 0.78%;
  display: inline-block;
}
.pitch10 {
  height: 22.95%;
  width: 90.7%;
  top: 77.05%;
  left: 4.65%;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.imu,
.imu1,
.pitch10,
.gas {
  position: absolute;
}
.gas{
  height: 20.49%;
  width: 32.56%;
  margin-top: 170px;
  left: 77.11%;
  font-size: 16.46px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.imu1 {
  height: 20.49%;
  width: 32.56%;
  top: 0;
  left: 34.11%;
  font-size: 16.46px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.imu {
  top: 480px;
  right: 144px;
  width: 103.2px;
  height: 97.6px;
  font-size: 9.6px;
}
.gasSensorChild {
  position: absolute;
  height: 64.7%;
  width: 86.59%;
  top: 34.03%;
  right: 3.79%;
  bottom: 1.27%;
  left: 9.62%;
  border-radius: var(--br-4xs-2);
  border: 2.2px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.gasSensorItem {
  position: absolute;
  height: 1.77%;
  width: 45.17%;
  top: 67.2%;
  right: 4.96%;
  bottom: 31.03%;
  left: 49.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gasSensorInner {
  position: absolute;
  height: 67.24%;
  width: 49.07%;
  top: 32.76%;
  right: 48.05%;
  bottom: 0;
  left: 2.89%;
  border-radius: var(--br-4xs-2);
  background-color: var(--color-red-100);
  border: 2.2px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.safeMax6,
.safeMin6 {
  position: absolute;
  height: 18.13%;
  width: 18.56%;
  top: 72.09%;
  left: 54.84%;
  font-weight: 500;
  font-family: var(--font-noto-sans);
  color: var(--color-gainsboro-100);
  display: flex;
  align-items: center;
}
.safeMax6 {
  top: 43.1%;
  left: 53.79%;
}
.div27,
.div28 {
  height: 16.49%;
  width: 15.39%;
  text-align: center;
  justify-content: center;
}
.div27 {
  position: absolute;
  top: 43.97%;
  left: 76.52%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div28 {
  top: 74.63%;
  left: 73.12%;
}
.div28,
.div29,
.gasPpm {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div29 {
  height: 55.7%;
  width: 49.7%;
  top: 36.57%;
  left: 0;
  font-size: 16.73px;
  text-align: center;
  justify-content: center;
}
.gasPpm {
  height: 29.31%;
  width: 82.58%;
  top: 0;
  left: 17.42%;
  font-size: var(--font-size-sm-2);
}
.gasSensor {
  position: absolute;
  top: 480px;
  right: 24px;
  width: 105.6px;
  height: 92.8px;
  text-align: left;
  font-size: 7.44px;
}
.rightSensors {
  position: absolute;
  top: 19.2px;
  left: 1064.8px;
  width: 459.2px;
  height: 823.2px;
  font-size: var(--font-size-sm-2);
}
.generalSystemChild {
  position: absolute;
  height: 100%;
  width: 97.41%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2.59%;
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.generalSystemItem {
  position: absolute;
  height: 1.38%;
  width: 95.62%;
  top: 16.3%;
  right: 0.9%;
  bottom: 82.32%;
  left: 3.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.generalSystem1 {
  position: absolute;
  height: 12.09%;
  width: 83.66%;
  top: 3.24%;
  left: 7.97%;
  font-size: 15.42px;
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
}
.depth,
.hydraulicThrust999n {
  position: absolute;
  left: 0;
  font-weight: 500;
}
.hydraulicThrust999n {
  height: 16.31%;
  width: 50.99%;
  top: 78.97%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth {
  height: 96.97%;
  width: 29.5%;
  top: 0;
  display: inline-block;
}
.distanceBarChild,
.distanceBarItem {
  position: relative;
  background-color: var(--color-limegreen-100);
  border: 0.8px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 323.33px;
  height: 25.6px;
  flex-shrink: 0;
}
.distanceBarItem {
  background-color: var(--color-silver);
  border: 0.8px solid var(--color-gray-100);
  width: 130.89px;
  margin-left: -130px;
}
.distanceBar,
.m {
  position: absolute;
}
.distanceBar {
  top: 0.8px;
  left: 180px;
  width: 323.33px;
  height: 25.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.progressBar {
  width: 100%;
  height: 20px !important;
}
.m {
  height: 63.64%;
  width: 22.17%;
  top: 12.12%;
  left: 36.47%;
  font-size: 17.55px;
  font-weight: 500;
  color: white;
  display: inline-block;
}
.totalDistance {
  position: absolute;
  top: 85.6px;
  left: 22.82px;
  width: 496.63px;
  height: 26.4px;
  text-align: left;
}
.totalDistance2 {
  position: absolute;
  height: 94.12%;
  width: 36.43%;
  top: 5.88%;
  left: 0;
  font-size: var(--font-size-lgi-2);
  font-weight: 500;
  display: inline-block;
}
.distanceBar1 {
  position: absolute;
  top: 0;
  left: 172.92px;
  width: 323.33px;
  height: 25.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div30,
.m1 {
  position: absolute;
  height: 61.76%;
  width: 22.18%;
  top: 8.82%;
  left: 37.42%;
  font-weight: 500;
  color: var(--color-gray-400);
  display: inline-block;
}
.div30 {
  height: 64.71%;
  width: 9.61%;
  top: 5.88%;
  left: 87%;
  color: var(--color-black);
}
.totalDistance1 {
  position: absolute;
  top: 45.6px;
  left: 23.2px;
  width: 496.25px;
  height: 27.2px;
  text-align: left;
  font-size: 17.55px;
}
.div31,
.jackingCycle {
  position: absolute;
  height: 17.6%;
  width: 27.89%;
  top: 62.23%;
  left: 3.67%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div31 {
  height: 12.88%;
  width: 10.2%;
  top: 64.38%;
  left: 33.88%;
}
.generalSystem {
  position: absolute;
  top: 60px;
  left: 0;
  width: 578.4px;
  height: 186.4px;
  font-size: var(--font-size-lgi-2);
  color: var(--color-gainsboro-100);
}
.linearActuatorsItem {
  position: absolute;
  height: 1.25%;
  width: 98.15%;
  top: 16.43%;
  right: 0.92%;
  bottom: 82.32%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linearActuators3 {
  position: absolute;
  height: 12.23%;
  width: 56.45%;
  top: 2.22%;
  left: 25.28%;
  font-size: 15.42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.increaseChild {
  position: relative;
  border-radius: var(--br-8xs-8);
  background-color: var(--color-green-100);
  width: 32.8px;
  height: 28.8px;
  flex-shrink: 0;
}
.div32,
.increase {
  display: flex;
  align-items: center;
}
.div32 {
  position: relative;
  font-weight: 900;
  justify-content: center;
  width: 24.8px;
  height: 16.8px;
  flex-shrink: 0;
  margin-top: -23px;
}
.increase {
  position: absolute;
  top: 149.6px;
  left: 95.2px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-black);
}
.decrease,
.decreaseChild,
.increase {
  width: 32.8px;
  height: 28.8px;
}
.decreaseChild {
  position: relative;
  border-radius: var(--br-8xs-8);
  flex-shrink: 0;
}
.decrease {
  position: absolute;
  top: 149.6px;
  left: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-black);
}
.linearActuatorsInner {
  position: absolute;
  height: 20.24%;
  width: 71.86%;
  top: 26.86%;
  right: 13.02%;
  bottom: 52.9%;
  left: 15.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.currentPitch10Container {
  position: absolute;
  height: 15.93%;
  width: 67.13%;
  top: 53.33%;
  left: 16.29%;
  font-size: var(--font-size-2xs-4);
  display: flex;
  align-items: center;
}
.set,
.setSpeed1 {
  position: absolute;
}
.set {
  height: 14.93%;
  width: 53.81%;
  top: 82.78%;
  left: 25.27%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setSpeed1 {
  height: 19.52%;
  width: 72.71%;
  top: 80.48%;
  right: 13.65%;
  bottom: 0;
  left: 13.64%;
  border-radius: 3.36px;
  background-color: var(--color-gainsboro-300);
  box-shadow: 0 2.686805486679077px 2.69px rgba(0, 0, 0, 0.25);
  border: 1.3px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.setSpeedChild {
  position: absolute;
  height: 72.63%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 27.37%;
  left: 0;
  background-color: var(--color-gray-300);
}
.setSpeed {
  position: absolute;
  top: 140px;
  left: 236.8px;
  width: 35.2px;
  height: 40.75px;
  font-size: 7.39px;
}
.linearActuators2 {
  position: absolute;
  top: 484.8px;
  left: 293.6px;
  width: 284.8px;
  height: 216px;
}
.set2,
.setSpeed2 {
  position: relative;
  flex-shrink: 0;
}
.setSpeed2 {
  border-radius: 3.36px;
  background-color: var(--color-gainsboro-300);
  box-shadow: 0 2.686805486679077px 2.69px rgba(0, 0, 0, 0.25);
  border: 1.3px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 32.12px;
  height: 10.09px;
}
.set2 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.77px;
  height: 7.72px;
  margin-top: -8px;
}
.set1 {
  position: absolute;
  top: 179.57px;
  left: 171.2px;
  width: 32.12px;
  height: 10.09px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.solenoidsChild {
  position: absolute;
  height: 1.24%;
  width: 98.15%;
  top: 16.44%;
  right: 0.92%;
  bottom: 82.32%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.control2Child,
.control2Item {
  position: relative;
  flex-shrink: 0;
}
.control2Child {
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 283.2px;
  height: 218.4px;
  left: 10px;
}
.control2Item {
  width: 277.97px;
  height: 2.7px;
  margin-top: -180px;
}
.control2,
.solenoids1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.control2 {
  top: 0;
  left: 0;
  width: 283.2px;
  height: 218.4px;
  flex-direction: column;
  justify-content: flex-start;
}
.solenoids1 {
  height: 12.09%;
  width: 56.77%;
  top: 2.22%;
  left: 60px;
  font-size: 15.42px;
  justify-content: center;
}
.solenoidsItem1 {
  position: absolute;
  height: 17.95%;
  width: 14.97%;
  top: 31.87%;
  right: 78.25%;
  bottom: 50.18%;
  left: 6.78%;
}
.solenoidsChild1,
.solenoidsInner,
.solenoidsInner1,
.solenoidsInner2,
.solenoidsInner3,
.solenoidsInner4,
.solenoidsItem {
  background-color: var(--color-gainsboro-200);
}
.solenoidsInner {
  
  /* position: absolute; */
  /* position: relative; */
  height: 14.95%;
  width: 11.97%;
  top: 30%;
  bottom: 50.18%;
  left: 40%;
  font-size: 25px;
  font-family: var(--font-noto-sans);
  color:black;
}

.solenoidsInner1{
  margin: 3px;
  /* position: absolute; */
  height: 14.95%;
  width: 11.97%;
  top: 30%;
  /* bottom: 50.18%; */
  left:25%;
  font-size: 25px;
  font-family: var(--font-noto-sans);
  color:black;

}
.solenoidsInner2{
  margin: 3px;
  /* position: absolute; */
  height: 14.95%;
  width: 11.97%;
  top: 30%;
  /* bottom: 50.18%; */
  left:40%;
  font-size: 25px;
  font-family: var(--font-noto-sans);
  color:black;
}
.solenoidsInner3{
  margin: 3px;
  /* position: absolute; */
  height: 14.95%;
  width: 11.97%;
  top: 30%;
  /* bottom: 50.18%; */
  left:55%;
  font-size: 25px;
  font-family: var(--font-noto-sans);
  color:black;
}
.solenoidsInner4{
  margin: 3px;
  /* position: absolute; */
  height: 14.95%;
  width: 11.97%;
  top: 30%;
  /* bottom: 50.18%; */
  left:70%;
  font-size: 25px;
  font-family: var(--font-noto-sans);
  color:black;
}

.solenoidsLegend{
  position: absolute;
  top: 90%;
  left: 10%;
  font-size: 9px;
   text-align: center;
}

.solenoidsChild1 {
  right: 30.79%;
  left: 54.24%;
}
.image4Icon,
.solenoidsChild1,
.solenoidsChild2 {
  position: absolute;
  height: 17.95%;
  width: 14.97%;
  top: 31.87%;
  bottom: 50.18%;
}
.solenoidsChild2 {
  right: 6.78%;
  left: 78.25%;
  background-color: var(--color-gainsboro-200);
}
.image4Icon {
  right: 30.79%;
  left: 54.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dropdownMenu,
.frameChild22 {
  position: relative;
  flex-shrink: 0;
}
.frameChild22 {
  border-radius: 0.8px;
  background-color: var(--color-gainsboro-300);
  border: 1.6px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 75.2px;
  height: 12.8px;
}
.dropdownMenu {
  display: inline-block;
  width: 104px;
  height: 8px;
  margin-left: -69px;
}
.rectangleParent1 {
  position: absolute;
  top: 176px;
  left: 78.4px;
  width: 109.6px;
  height: 12.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 8px;
  font-family: var(--font-inter);
}
.image3Icon,
.image5Icon,
.image6Icon {
  position: absolute;
  height: 17.95%;
  width: 14.97%;
  top: 31.87%;
  right: 78.25%;
  bottom: 50.18%;
  left: 6.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image5Icon,
.image6Icon {
  height: 18.32%;
  top: 31.5%;
  right: 6.78%;
  left: 78.25%;
}
.image5Icon {
  height: 17.95%;
  top: 31.87%;
  right: 54.52%;
  left: 30.51%;
}
.solenoids {
  position: absolute;
  top: 250px;
  left: 4px;
  width: 283.2px;
  height: 218.4px;
  font-size: 7.39px;
}
.waterChild {
  position: absolute;
  height: 100%;
  width: 90.7%;
  top: 0;
  right: 4.65%;
  bottom: 0;
  left: 4.65%;
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.waterChild1,
.waterInner,
.waterItem {
  position: absolute;
  height: 1.25%;
  width: 89.02%;
  top: 16.43%;
  right: 5.49%;
  bottom: 82.32%;
  left: 5.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.waterChild1,
.waterInner {
  top: 46.19%;
  right: 6.33%;
  bottom: 52.57%;
  left: 4.65%;
}
.waterChild1 {
  top: 75.81%;
  bottom: 22.94%;
}
.set3,
.water1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.water1 {
  height: 12.23%;
  width: 77.89%;
  top: 2.96%;
  left: 10.08%;
  font-size: 15.42px;
}
.set3 {
  height: 24.53%;
  width: 74%;
  top: 71.7%;
  left: 16%;
  font-weight: 500;
}
.setSpeed4 {
  position: absolute;
  height: 32.08%;
  width: 100%;
  top: 67.92%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3.36px;
  background-color: var(--color-gainsboro-300);
  box-shadow: 0 2.686805486679077px 2.69px rgba(0, 0, 0, 0.25);
  border: 1.3px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.setSpeedItem {
  position: absolute;
  height: 58.49%;
  width: 98%;
  top: 0;
  right: 0;
  bottom: 41.51%;
  left: 2%;
  background-color: var(--color-gray-300);
}
.setSpeed3,
.setSpeed5 {
  position: absolute;
  top: 68.8px;
  left: 142.57px;
  width: 25.43px;
  height: 24.64px;
  font-size: 7.39px;
}
.setSpeed5 {
  top: 133.6px;
  left: 142.41px;
  width: 25.59px;
  height: 24.8px;
}
.rateCondition99,
.rateSolution99,
.totalConsumed999 {
  position: absolute;
  height: 10.74%;
  width: 100%;
  top: 17.41%;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rateCondition99,
.totalConsumed999 {
  height: 5.56%;
  width: 96.51%;
  top: 49.63%;
  left: 1.55%;
}
.totalConsumed999 {
  height: 7.04%;
  width: 79.46%;
  top: 79.26%;
  left: 10.47%;
}
.on {
  color: var(--color-black);
}
.increase1,
.slurryPumpOnContainer {
  position: absolute;
  display: flex;
  align-items: center;
}
.slurryPumpOnContainer {
  height: 5.19%;
  width: 63.57%;
  top: 90.37%;
  left: 17.83%;
  font-weight: 500;
}
.increase1 {
  top: 61.6px;
  left: 36.8px;
  width: 32.8px;
  height: 28.8px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 40.45px;
  color: var(--color-black);
}
.water {
  position: absolute;
  top: 260px;
  left: 380px;
  width: 206.4px;
  height: 216px;
  font-size: var(--font-size-2xs-4);
}
.counterclockwise,
.currentRpm999,
.motor {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currentRpm999 {
  height: 14.07%;
  width: 65.8%;
  top: 18.89%;
  left: 18.94%;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.counterclockwise,
.motor {
  height: 12.09%;
  width: 85.88%;
  top: 3.24%;
  left: 5.53%;
  font-size: 15.42px;
}
.counterclockwise {
  height: 12.22%;
  width: 80.52%;
  top: 62.96%;
  left: 11.04%;
  font-size: 10.08px;
  font-weight: 500;
}
.setSpeed8 {
  position: absolute;
  top: 72.8px;
  left: 137.52px;
  width: 32.12px;
  height: 31.12px;
  font-size: 7.39px;
}
.reverseDirection,
.torque999Nm {
  position: absolute;
  height: 11.48%;
  width: 45.52%;
  top: 48.15%;
  left: 27.11%;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reverseDirection {
  height: 5.93%;
  width: 49.46%;
  top: 74.81%;
  left: 26.57%;
  font-size: 8.8px;
  border-radius: 5px;
  padding: 12px;
  background-color: rgb(211, 211, 211);
}



.cutterheadSpeedInner {
  position: absolute;
  height: 8.89%;
  width: 52.73%;
  top: 73.33%;
  right: 22.34%;
  bottom: 17.78%;
  left: 24.93%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-300);
  border: 1.6px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.decrease1,
.increase3 {
  position: absolute;
  top: 72.8px;
  left: 46.4px;
  width: 32.8px;
  height: 28.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-black);
}
.decrease1 {
  left: 99.2px;
}
.cutterheadSpeed,
.image2Icon {
  position: absolute;
  top: 260px;
  left: 15.2px;
  width: 187.2px;
  height: 216px;
}
.image2Icon {
  top: 0;
  left: 5.6px;
  border-radius: 12px;
  width: 572.8px;
  height: 51.2px;
  object-fit: cover;
}
.powerButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #212935;
  width: 93.6px;
  height: 84.8px;
}
.div38,
.ioIcon,
.powerButtonItem {
  position: absolute;
  top: 7.2px;
  left: 9.6px;
  width: 71.2px;
  height: 72px;
}
.div38,
.ioIcon {
  top: 5.58px;
  left: 7.26px;
  width: 73.72px;
  height: 73.64px;
}
.div38 {
  top: 19.53px;
  left: 24.02px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.97px;
  height: 45.75px;
}
.powerButton {
  position: relative;
  top: 20px;
  align-items: center;
  /* width: 250px; */
  /* position: absolute;
  top: 742.4px;
  left: 253.6px;
  width: 93.6px;
  height: 84.8px;
  font-size: 57.25px;
  font-family: var(--font-font-awesome-5-free); */
}
.controlAndGeneral {
  position: absolute;
  top: 15.2px;
  left: 476px;
  width: 586.4px;
  height: 827.2px;
}
.leftSensorsChild {
  position: absolute;
  top: -2.4px;
  left: -2.4px;
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-300);
  border: 2.4px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 452.8px;
  height: 828px;
}
.temperatureC {
  position: absolute;
  height: 2.14%;
  width: 50%;
  top: 0.49%;
  left: 3.57%;
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro-100);
  display: inline-block;
}
.dangerBackground {
  position: absolute;
  height: 41.51%;
  width: 73%;
  top: 94.34%;
  right: 2%;
  bottom: -35.85%;
  left: 25%;
  border-radius: 6.62px 6.62px 0 6.62px;
  background-color: var(--color-red-100);
  mix-blend-mode: normal;
}
.dangerBackgroundParent3 {
  position: absolute;
  top: 55.2px;
  left: 12.8px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}
.div43 {
  position: absolute;
  width: 16%;
  top: 66.27%;
  left: 76%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dangerBackgroundParent4,
.dangerBackgroundParent5 {
  position: absolute;
  top: 56.8px;
  left: 159.2px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}
.dangerBackgroundParent5 {
  top: 165.6px;
  left: 16px;
}
.dangerBackground3 {
  position: absolute;
  height: 41.51%;
  width: 73%;
  top: 94.34%;
  right: 2%;
  bottom: -35.85%;
  left: 25%;
  border-radius: 6.62px 6.62px 0 6.62px;
  background-color: transparent;
  mix-blend-mode: normal;
}
.dangerBackgroundParent6 {
  position: absolute;
  top: 165.6px;
  left: 159.2px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}
.dangerBackgroundIcon {
  position: absolute;
  height: 41.51%;
  width: 73%;
  top: 52.83%;
  right: 2%;
  bottom: 5.66%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.dangerBackgroundParent7 {
  position: absolute;
  top: 56px;
  left: 298.4px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}
.tbmcomptemp{
  position: absolute;
  height: 2.43%;
  width: 27.68%;
  top: 29%;
  left: 33.5%;
  font-size: var(--font-size-sm-2);
  /* display: flex; */
  text-align: center;
  font-weight: 500;
}
.border4 {
  position: absolute;
  height: 39%;
  width: 97.2%;
  top: 3.5%;
  right: 6.79%;
  bottom: 71.43%;
  left: 1.43%;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.surfaceElectronics,
.tbmElectronics {
  position: absolute;
  height: 2.43%;
  width: 50.04%;
  top: 4.28%;
  left: 3.57%;
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  display: flex;
  text-align: center;
}
.surfaceElectronics {
  width: 34.11%;
  top: 15.81%;
  left: 30.89%;
  text-align: center;
}
.platform {
  font-weight: 500;
  font-family: var(--font-noto-sans);
}
.motor1,
.oil,
.stewartPlatform,
.vfd {
  position: absolute;
  height: 2.43%;
  width: 27.68%;
  top: 4.28%;
  left: 66.25%;
  font-size: var(--font-size-sm-2);
  display: flex;
  align-items: center;
}
.vfdtext{
  position: relative;
  top: 50px;
  font-size: 40px;
  text-align: center;
}
.motor1,
.oil,
.vfd {
  width: 100.79%;
  top: 16.81%;
  left: 3.89%;
  font-weight: 500;
  text-align: center;
}
.motor1,
.oil {
  left: 75.36%;
  font-weight: 500;
}
.motor1 {
  width: 10.36%;
  top: 4.28%;
  left: 42.86%;
}
.dangerBackgroundParent8 {
  position: absolute;
  top: 164px;
  left: 293.6px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}
.temperature {
  position: absolute;
  top: 0;
  left: 0;
  width: 448px;
  height: 823.2px;
  font-size: 7.44px;
}
.current,
.direction,
.torque {
  position: absolute;
  height: 13.68%;
  width: 20.26%;
  top: 30.53%;
  left: 5.82%;
  font-weight: 500;

  color: var(--color-gainsboro-100);
  display: inline-block;
}
.direction,
.torque {
  width: 12.76%;
  left: 42.59%;
}
.direction {
  width: 17.45%;
  left: 72.05%;
}
.motorChild,
.motorInner,
.motorItem {
  position: absolute;
  height: 43.68%;
  width: 27.39%;
  top: 47.89%;
  right: 70.36%;
  bottom: 8.42%;
  left: 2.25%;
  border-radius: 17.79px;
  background-color: var(--color-gray-500);
  box-shadow: 0 2.7375001907348633px 2.74px rgba(0, 0, 0, 0.25);
  border: 1.9px solid var(--color-lightslategray);
  box-sizing: border-box;
}
.motorInner,
.motorItem {
  right: 7.32%;
  left: 65.29%;
}
.motorInner {
  right: 38.65%;
  left: 33.96%;
}
.motorMetrics {
  height: 16.64%;
  width: 98.87%;
  top: 0;
  left: 1.13%;
  font-size: 20.18px;
  font-weight: 500;
  color: var(--color-gainsboro-100);
  display: inline-block;
}
.border6,
.div58,
.motorMetrics {
  position: absolute;
}
.border6 {
  height: 78.95%;
  width: 96.44%;
  top: 21.05%;
  right: 3.56%;
  bottom: 0;
  left: 0;
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.div58 {
  top: 53.68%;
  left: 6%;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.rpm {
  top: 76.84%;
  left: 20.83%;
  font-size: var(--font-size-xs);
}
.counterClockwise,
.div59,
.nm,
.rpm {
  position: absolute;
  font-weight: 500;
}
.nm {
  top: 76.84%;
  left: 54.41%;
  font-size: var(--font-size-xs);
}
.counterClockwise,
.div59 {
  top: 53.68%;
}
.div59 {
  left: 36%;
  font-size: var(--font-size-13xl);
}
.counterClockwise {
  left: 68.86%;
  font-size: 16px;
  text-align: center;
}
.motor2 {
  position: absolute;
  top: 259.2px;
  left: 6.4px;
  width: 426.4px;
  height: 152px;
  font-size: var(--font-size-sm-2);
}
.groupIcon,
.groupIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1 {
  height: 88.98%;
  width: 86.93%;
  top: 4.1%;
  right: 11%;
  bottom: 6.93%;
  left: 2.07%;
}
.transducerChild {
  position: absolute;
  height: 77.45%;
  width: 98.55%;
  top: 11.29%;
  right: 0;
  bottom: 11.25%;
  left: 1.45%;
  border-radius: 6.62px;
  background-color: var(--color-green-200);
  border: 1.8px solid var(--color-lightgray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.div60 {
  position: absolute;
  height: 100%;
  width: 92.56%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transducer {
  position: absolute;
  height: 17.41%;
  width: 12.35%;
  top: 37.92%;
  right: 57.06%;
  bottom: 44.67%;
  left: 29.59%;
  
}
.screenShot20230225At104 {
  position: absolute;
  top: 516px;
  left: 19.2px;
  width: 413.6px;
  height: 284.8px;
  overflow: hidden;
  text-align: center;
}
.transducer1,
.transducer2 {
  position: absolute;
  height: 12.6%;
  width: 12.92%;
  top: 84.55%;
  right: 6.93%;
  bottom: 2.85%;
  left: 80.15%;
}
.transducer2 {
  top: 28.05%;
  right: 71.91%;
  bottom: 59.35%;
  left: 15.17%;
}
.pressureChild,
.pressureChild1,
.pressureInner,
.pressureItem {
  position: absolute;
  height: 6.88%;
  width: 11.14%;
  top: 39.02%;
  right: 65.17%;
  bottom: 54.09%;
  left: 23.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pressureChild1,
.pressureInner,
.pressureItem {
  height: 12.53%;
  width: 9.88%;
  top: 22.76%;
  right: 43.82%;
  bottom: 64.71%;
  left: 46.3%;
}
.pressureChild1,
.pressureInner {
  height: 14.46%;
  width: 2.43%;
  top: 21.34%;
  right: 33.52%;
  bottom: 64.19%;
  left: 64.05%;
}
.pressureChild1 {
  height: 26.13%;
  width: 24.13%;
  top: 23.02%;
  right: 14.98%;
  bottom: 50.84%;
  left: 60.89%;
}
.pressureChild2,
.pressureChild3,
.pressureChild4,
.pressureChild5,
.pressureChild6 {
  position: absolute;
  height: 3.65%;
  width: 14.09%;
  top: 52.85%;
  right: 41.76%;
  bottom: 43.5%;
  left: 44.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pressureChild3,
.pressureChild4,
.pressureChild5,
.pressureChild6 {
  height: 4.47%;
  width: 17.27%;
  top: 62.2%;
  right: 14.75%;
  bottom: 33.34%;
  left: 67.98%;
}
.pressureChild4,
.pressureChild5,
.pressureChild6 {
  height: 9.91%;
  width: 10.98%;
  top: 80.28%;
  right: 15.36%;
  bottom: 9.8%;
  left: 73.66%;
}
.pressureChild5,
.pressureChild6 {
  height: 2.84%;
  width: 18.75%;
  top: 80.08%;
  right: 37.08%;
  bottom: 17.07%;
  left: 44.17%;
}
.pressureChild6 {
  height: 10.93%;
  width: 15.13%;
  top: 51.05%;
  right: 13.85%;
  bottom: 38.02%;
  left: 71.02%;
}
.safeMax3000,
.safeMin0 {
  position: absolute;
  height: 12.2%;
  width: 37.27%;
  top: 300px;
  left: 2.06%;
  font-size: var(--font-size-mini-4);
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.safeMax3000 {
  top: 320px;
  left: 1.69%;
}
.transducer3,
.transducer4 {
  position: absolute;
  height: 12.6%;
  width: 12.92%;
  top: 11.99%;
  right: 47.75%;
  bottom: 75.41%;
  left: 39.33%;
}
.transducer4 {
  top: 10.16%;
  right: 29.59%;
  bottom: 77.24%;
  left: 57.49%;
}
.transducer5,
.transducer6,
.transducer7,
.transducer8 {
  position: absolute;
  height: 12.6%;
  width: 12.92%;
  top: 55.89%;
  right: 1.87%;
  bottom: 31.51%;
  left: 85.21%;
}
.transducer6,
.transducer7,
.transducer8 {
  top: 40.85%;
  right: 1.5%;
  bottom: 46.55%;
  left: 85.58%;
}
.transducer7,
.transducer8 {
  top: 15.04%;
  right: 2.25%;
  bottom: 72.36%;
  left: 84.83%;
}
.transducer8 {
  top: 76.63%;
  right: 55.81%;
  bottom: 10.78%;
  left: 31.27%;
}
.pressurePsi {
  position: absolute;
  height: 6.43%;
  width: 98.69%;
  top: 355px;
  left: 0.94%;
  font-size: 20.18px;
  font-weight: 500;
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
}
.border8 {
  position: absolute;
  height: 200px;
  width: 97.2%;
  top: 380px;
  /* right: 7%; */
  left: 1.43%;
  /* bottom: 400px; */
  /* left: 0; */
  border-radius: 10.09px;
  border: 2.7px solid var(--color-lightslategray);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.cylinder1{
  position:absolute;
  top:410px;
  height: 6.43%;
  left: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.cylinder2{
  position:absolute;
  top:410px;
  height: 6.43%;
  left: 350px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.cylinder3{
  position:absolute;
  top:510px;
  height: 6.43%;
  left: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.cylinder4{
  position:absolute;
  top:510px;
  height: 6.43%;
  left: 350px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.leftSensors,
.pressure {
  position: absolute;
  top: 423.2px;
  left: 7.2px;
  width: 427.2px;
  height: 393.6px;
  font-size: 10px;
  text-align: center;
}
.leftSensors {
  top: 19.2px;
  left: 28px;
  width: 448px;
  height: 823.2px;
  text-align: left;
  font-size: 16.73px;
}
.vectorParent {
  top: 336.8px;
  left: 959.2px;
  width: 32.8px;
  height: 28.8px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-black);
}
.div71,
.stateNeutral,
.vectorGroup,
.vectorParent {
  position: absolute;
  display: flex;
  align-items: center;
}
.vectorGroup {
  top: 401.6px;
  left: 960px;
  width: 32.8px;
  height: 28.8px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-black);
}
.div71,
.stateNeutral {
  justify-content: center;
}
.div71 {
  top: 407.2px;
  left: 903.2px;
  font-weight: 900;
  color: var(--color-black);
  width: 24.8px;
  height: 16.8px;
}
.stateNeutral {
  top: 631.2px;
  left: 540.8px;
  font-size: var(--font-size-2xs-4);
  font-weight: 500;
  width: 149.6px;
  height: 31.2px;
}
.newGui {
  position: relative;
  background-color: #2d3648;
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: 40.45px;
  color: var(--color-white);
  font-family: var(--font-source-code-pro);
}
.powerBorder{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 665px;
  font-size: 30px;
}

.solenoidButtons {
  position: absolute;
  top: 120px;
  left: 35px;
  align-items: center;
  font-size: 10px;
}

.sBoxParent{
  position: absolute;
  /* width: 283.2px;
  height: 218.4px; */
  width: 100%;
  height: 100%;
  left: 10px;
}

.sBoxChild{
  display: flex;
  position: relative;
  justify-content: center;
  top: 60px;
  left: -10px;
  font-size: 100px;
  
}