.sensor {
  position: absolute;
  top: 164px;
  left: 293.6px;
  width: 98.9px;
  height: 59.85px;
  text-align: center;
}

.dangerRect{
position:relative;
top: 32.47px;
border-bottom-right-radius: 6.62px;
left: 4.73px;
width: 93.2px;
height: 24.84px;


}

.sensorLabel{
position: absolute;
top:-40px;
left: 20px;
font-family: var(--font-source-code-pro);
font-size: 0px;
}